@mixin general() {
    * {
        font-weight: 200;
        scroll-behavior: smooth;
        font-family: $fuente;
    }
    body {
        background-color: $background;
        overflow-x: hidden;
        width: $ancho;
        height: $alto;
        .navbar {
            .navbar-toggler {
            background-color: $background;
            }
            .navbar-brand, .nav-link {
                color: $background;
            }
            .navbar-brand {
                font-weight: bolder;
                font-size: 20px;
                padding-left: $margennav;
            }
            .navbar-collapse {
                a {
                    padding: auto $margennav;
                    font-size: 17px;
                }
            }
        }
    }
}
@mixin gridindex($display,$columns,$rows,$gap) {
    display: $display;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: $gap;
}
@mixin parrafo($size,$color,$pad,$weight) {
    font-size: $size;
    color: $color;
    padding: $pad;
    font-weight: $weight;
}