@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        width: $ancho;
        height: $alto;
    }
    .main-index {
        height: min-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: fit-content fit-content 1fr;
        width: 100vw;
        grid-auto-flow: row;
        justify-content: center;
        .Index-Container {
        justify-self: center;
        grid-row: 1/2;
        height: fit-content !important;
    }
        .Index-Container > p {
        display: inline-block !important;
    }
        .form-section {
        width: 100%;
        justify-self: center;
        grid-row: 2/3;
    }
        .main-final {
        display: grid;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        grid-auto-flow: row;
        grid-row: 3/4;
    }
        .text-final {
        grid-column: auto;
        grid-row: 1/2;
        justify-content: safe;
        flex-wrap: wrap;
    }
        .vid-final {
        grid-column: auto;
        grid-row: 2/3;
        width: 100%;
        justify-self: center;
    }
    }
}
@media screen and (max-width: 767px) {
    p {
        font-size: 14px;
        font-weight: 100 !important;
    }
    h1, h2, h3 {
        text-decoration: underline white !important;
    }
    h3 {
        font-size: 14px;
        font-weight: 100 !important;
    }
    .navbar {
        width: $ancho;
    }
    .main-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        width: $ancho;
        .Index-Container {
        grid-row: 1/2;
    }
        .form-section {
        grid-row: 2/3;
    }
        .main-final {
        display: grid;
        width: $ancho;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, min-content);
        row-gap: 5px;
        grid-row: 3/4;    
            .text-final {
            grid-row: 1/2;
            background-image: url(../imagenes/00IMPORTS-jumbo.gif);
            background-size: contain;
            }
            .vid-final {
            grid-column: span;
            margin-top: 10px;
            object-fit: scale-down;
            grid-row: 2/3;
            }
    }
    
    }
}